.bg-pattern {
    background-image: repeating-radial-gradient(ellipse,
            #ffffff,
            #ffffff 10px,
            #f0f9ff 10px,
            #f0f9ff 20px);
    background-size: 50px 50px;
    min-height: 100vh;
}
.btn-teal {
    background-color: #00abb3;
    color: white;
}

.btn-teal:hover {
    background-color: #008c93;
    color: white;
}

.sort-icon {
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
}

.table th {
    white-space: nowrap;
}